<h3>This is an example of looping in angular!</h3>
<!-- <table border="2">
  <tr>
    <td>country</td>
    <td>continent</td>
    <td>literacy</td>
    <td>universities</td>
    <td>funding</td>
    <td>dropout</td>
    <td>performance</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{ item.country }}</td>
    <td>{{ item.continent }}</td>
    <td>{{ item.literacy }}</td>
    <td>{{ item.universities }}</td>
    <td>{{ item.funding }}</td>
    <td>{{ item.dropout }}</td>
    <td>{{ item.performance }}</td>
  </tr>
</table>-->
<table>
  <tr>
    <th>country</th>
    <th>continent</th>
    <th>literacy</th>
    <th>universities</th>
    <th>funding</th>
    <th>dropout</th>
    <th>performance</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{ item.country }}</td>
    <td>{{ item.continent }}</td>
    <td>{{ item.literacy }}</td>
    <td>{{ item.universities }}</td>
    <td>{{ item.funding }}</td>
    <td>{{ item.dropout }}</td>
    <td>{{ item.performance }}</td>
  </tr>
</table>
